@model IndexViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{ 
    <script>
    $(function () {
        var favoritesAnchorTemplate = '<a class="dropdown-item" href="@Url.Action("Details", "Recipes", new { id = "__REPLACE__" })">__REPLACE_TITLE__</a>';
        var apiData = [];
        GetData();

        $("#button-filter").click(function (e) {
            e.preventDefault();
            var baseUrl = '@Url.Action("Index", "Recipes", new { filter = "__REPLACE__"})';
            var filterValue = $("#filter-text").val();
            var finalUrl = baseUrl.replaceAll("__REPLACE__", filterValue);
            document.location = finalUrl;
        });

        $("#filter-text").keydown(function (e) {
            if (e.keyCode === 13) {
                e.preventDefault();
                $("#button-filter").click();
            }
        });

        $("#button-filter-clear").click(function (e) {
            e.preventDefault();
            var url = '@Url.Action("Index", "Recipes")';
            document.location = url;
        });


        $(".bookmark").click(function (e) {
            e.preventDefault();
            var recipeId = $(this).data("recipe-id");
            var recipeTitle = $(this).siblings().first(".recipe-title").data("recipe-title");


            var favorites = JSON.parse(localStorage.getItem("recipe-favorites"));
            if (favorites === null) {
                favorites = [];
                favorites.push({ id: recipeId, title: recipeTitle });
                $(this).find("button.not-bookmarked").addClass("d-none");
                $(this).find("button.bookmarked").removeClass("d-none");
                //favorites = [recipeId];
            } else {
                if (favorites.some(favorite => favorite.id === recipeId)) {
                    favorites = favorites.filter((obj) => { return obj.id != recipeId });
                    $(this).find("button.not-bookmarked").removeClass("d-none");
                    $(this).find("button.bookmarked").addClass("d-none");
                } else {
                    favorites.push({ id: recipeId, title: recipeTitle });
                    $(this).find("button.not-bookmarked").addClass("d-none");
                    $(this).find("button.bookmarked").removeClass("d-none");
                }
            }
            localStorage.setItem("recipe-favorites", JSON.stringify(favorites));
            refreshFavoritesMenu(favorites);
        });

        function refreshFavoritesMenu(favoritesArray) {
            $("#favorites-menu").html("");
            $.each(favoritesArray, function (index, obj) {
                if (apiData.some(item => item.id === obj.id)){
                    var favoriteAnchor = favoritesAnchorTemplate.replace(/__REPLACE__/g, obj.id).replace(/__REPLACE_TITLE__/g, obj.title);
                    $("#favorites-menu").append(favoriteAnchor);
                }
            });
        }

        function LoadData(data) {
            apiData = data;
            var favorites = JSON.parse(localStorage.getItem("recipe-favorites"));
            $.each(favorites, function (index, obj) {
                if (data.some(item => item.id === obj.id)){
                    $("td[data-recipe-id='" + obj.id + "']").find("button.not-bookmarked").addClass("d-none");
                    $("td[data-recipe-id='" + obj.id + "']").find("button.bookmarked").removeClass("d-none");

                    var favoriteAnchor = favoritesAnchorTemplate.replace(/__REPLACE__/g, obj.id).replace(/__REPLACE_TITLE__/g, obj.title);
                    $("#favorites-menu").append(favoriteAnchor);
                }
            });
        }

        function GetData() {
            $.getJSON("api/recipes", function (data) {
                $.each(data, function (item) {
                    data.push(item);
                });

                LoadData(data);
            });
        }
    });
    </script>
}

<h1>Recipes</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="input-group mb-3">
    <input type="text" class="form-control" id="filter-text" placeholder="Filter recipes" aria-label="Filter recipes" aria-describedby="button-filter" value="@Model.Filter">
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-filter">Filter</button>
        <button class="btn btn-outline-secondary" type="button" id="button-filter-clear">Clear</button>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recipes[0].Instruction)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Recipes) {
        <tr data-recipe-id="@item.Id">
            <td class="bookmark" data-recipe-id="@item.Id">
                <button type="button" class="btn not-bookmarked">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark-star" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                        <path d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z" />
                    </svg>
                </button>
                <button type="button" class="btn bookmarked d-none">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-bookmark-star-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M4 0a2 2 0 0 0-2 2v13.5a.5.5 0 0 0 .74.439L8 13.069l5.26 2.87A.5.5 0 0 0 14 15.5V2a2 2 0 0 0-2-2H4zm4.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z" />
                    </svg>
                </button>
            </td>
            <td class="recipe-title" data-recipe-title="@item.Title">
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ingredients)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Instruction)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>